<!DOCTYPE html>
<html>
  <head>
    <title>Auction</title>
    <link rel="stylesheet" type="text/css" href="css/jquery.countdown.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <div class="container">
    <%= render 'layouts/header' %>
    <%= render 'layouts/auction_details' unless @current_auction.nil? %>

    <body>

      <%= render 'layouts/flash' %>
      <%= yield %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.js"></script>
    </body>
  </div>
</html>